@font-face
  font-family: 'pier_sansregular'
  src: url('../fonts/pier-regular-webfont.eot')
  src: url('../fonts/pier-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/pier-regular-webfont.woff2') format("woff2"), url('../fonts/pier-regular-webfont.woff') format("woff"), url('../fonts/pier-regular-webfont.ttf') format("truetype"), url('../fonts/pier-regular-webfont.svg#pier_sansregular') format("svg")
  font-weight: normal
  font-style: normal

font-face
  font-family: 'pier_sansbold_italic'
  src: url('../fonts/pier-bold-italic-webfont.eot')
  src: url('../fonts/pier-bold-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/pier-bold-italic-webfont.woff2') format("woff2"), url('../fonts/pier-bold-italic-webfont.woff') format("woff"), url('../fonts/pier-bold-italic-webfont.ttf') format("truetype"), url('../fonts/pier-bold-italic-webfont.svg#pier_sansbold_italic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'pier_sansbold'
  src: url('../fonts/pier-bold-webfont.eot')
  src: url('../fonts/pier-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/pier-bold-webfont.woff2') format("woff2"), url('../fonts/pier-bold-webfont.woff') format("woff"), url('../fonts/pier-bold-webfont.ttf') format("truetype"), url('../fonts/pier-bold-webfont.svg#pier_sansbold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'pier_sansitalic'
  src: url('../fonts/pier-italic-webfont.eot')
  src: url('../fonts/pier-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/pier-italic-webfont.woff2') format("woff2"), url('../fonts/pier-italic-webfont.woff') format("woff"), url('../fonts/pier-italic-webfont.ttf') format("truetype"), url('../fonts/pier-italic-webfont.svg#pier_sansitalic') format("svg")
  font-weight: normal
  font-style: normal