@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100)
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300)

@import "fonts"

$black-color: #202020
$light-gray-color: #f5f3eb //#eeeeee
$gray-color: #cececb
$dark-gray-color: #3b3b39
$orange-color: #D79565
$red-color: #ff7171
$yellow-color: #fbe35d
$coriander-color: #BFBB8F


$main-type-font: "PierSans", Sans-serif
$secondary-type-font: "Roboto", Sans-serif
$tertiary-type-font: 'Roboto Slab', serif
$intro: "IntroBoldAlt", Sans-serif
