<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }} - {{ page.title }}</title>
        <meta name="description" content="Portfolio site of Olav Peuscher"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Olav Peuscher" />

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="logo">
                    <a href="/">bricksforbreakfast</a>
                </div>
                <ul class="inline">
                    <li>
                        <a class="to-anchor" target-anchor="#about">About</a>
                    </li>
                    <li>
                        <a class="to-anchor" target-anchor="#music">Music</a>
                    </li>
                    <li>
                        <a class="to-anchor" target-anchor="#contact">Contact</a>
                    </li>
                </ul>
            </nav>

            {{ content }}

            <footer>
                <div class="footer-logo"></div>
            </footer>
        </div>

    </body>

    <script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</html>